# Обязательный параметр: секретный ключ Django
SECRET_KEY=secret_key_as_randon_string_50+characters

# Режим разработки
DEBUG=True

# URL базы данных PostgreSQL
DATABASE_URL=postgres://username:password@host:port/db_name

# Разрешенные хосты (через запятую без пробелов)
ALLOWED_HOSTS=localhost,another_host

# Для CORS в DRF (через запятую без пробелов)
CORS_ALLOWED_ORIGINS=http://localhost:7654,http://another_host:7654
